Repository codesquad-members-2023-team3/issue-tracker, pull requests merged in 2023-05, with the labels that each got.

#24 issue-13 이슈 내용 반영
  iOS/issue-tracker/issue-tracker.xcodeproj/project.pbxproj
  iOS/issue-tracker/issue-tracker/Assets.xcassets/property=exclamation.imageset/Contents.json
  iOS/issue-tracker/issue-tracker/Assets.xcassets/property=exclamation.imageset/property=exclamation.svg
  iOS/issue-tracker/issue-tracker/Assets.xcassets/property=milestone.imageset/Contents.json
  iOS/issue-tracker/issue-tracker/Assets.xcassets/property=milestone.imageset/property=milestone.svg
  iOS/issue-tracker/issue-tracker/Assets.xcassets/property=smile.imageset/Contents.json
  iOS/issue-tracker/issue-tracker/Assets.xcassets/property=smile.imageset/property=smile.png
  iOS/issue-tracker/issue-tracker/Assets.xcassets/property=tag.imageset/Contents.json
  iOS/issue-tracker/issue-tracker/Assets.xcassets/property=tag.imageset/property=tag.svg
  iOS/issue-tracker/issue-tracker/Home/HomeStoryboard.storyboard
  iOS/issue-tracker/issue-tracker/Home/Issue/IssueFilterTableViewCell.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/IssueFilterTableViewCell.xib
  iOS/issue-tracker/issue-tracker/Home/Issue/IssueFilterTableViewController.swift
  iOS/issue-tracker/issue-tracker/Login/Base.lproj/Main.storyboard
  iOS/issue-tracker/issue-tracker/Login/LoginViewController.swift
Labels: bug, ☀️ feature, 🍎 iOS

#33 iOS29 가보자
  iOS/issue-tracker/issue-tracker/Home/HomeStoryboard.storyboard
  iOS/issue-tracker/issue-tracker/Home/Issue/Controllers/IssueFilterTableViewController.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Controllers/IssueTabViewController.swift
Labels: ☀️ feature, 🍎 iOS

#41 [BE-37] 라벨 및 마일스톤 생성 API 리펙토링
  be/src/main/java/com/example/be/label/Label.java
  be/src/main/java/com/example/be/label/LabelController.java
  be/src/main/java/com/example/be/label/LabelService.java
  be/src/main/java/com/example/be/label/dto/LabelCreateFormDTO.java
  be/src/main/java/com/example/be/milestone/Milestone.java
  be/src/main/java/com/example/be/milestone/MilestoneController.java
  be/src/main/java/com/example/be/milestone/MilestoneService.java
  be/src/main/java/com/example/be/milestone/dto/MilestoneCreateFormDTO.java
  be/src/test/java/com/example/be/label/LabelRepositoryTest.java
  be/src/test/java/com/example/be/label/LabelServiceTest.java
  be/src/test/java/com/example/be/milestone/MilestoneRepositoryTest.java
  be/src/test/java/com/example/be/milestone/MilestoneServiceTest.java
Labels: ♻️ refactoring, 💻 BE

#43 iOS - 35
  iOS/issue-tracker/issue-tracker.xcodeproj/project.pbxproj
  iOS/issue-tracker/issue-tracker/Home/Issue/Controllers/IssueTabViewController.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueSelectingToolbar.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/SubIconView.swift
Labels: ☀️ feature, 🍎 iOS

#55 iOS-34 : 이슈 필터링 기능 추가
  iOS/issue-tracker/.swiftlint.yml
  iOS/issue-tracker/issue-tracker.xcodeproj/project.pbxproj
  iOS/issue-tracker/issue-tracker/Home/Issue/Controllers/IssueFilterTableViewController.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Controllers/IssueTabViewController.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/FilterOption.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/FilterOptionListMock.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueFilterTableViewCell.swift
Labels: ☀️ feature, 🍎 iOS

#67 iOS 66 issue 선택 기능 구현
  iOS/issue-tracker/issue-tracker/Home/Issue/Controllers/IssueTabViewController.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueCollectionView.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueCollectionViewCell.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueCollectionViewCell.xib
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueSelectingToolbar.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/SubIconView.swift
Labels: ☀️ feature, 🍎 iOS

#72 !HOTFIX IssueFrame에서 milestone null값을 받을 수 있도록 수정
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/IssueFrame.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueCollectionViewCell.swift
Labels: bug, 🍎 iOS

#81 [BE] 이슈 상세 조회 기능 구현
  be/src/main/java/com/example/be/comment/Comment.java
  be/src/main/java/com/example/be/comment/CommentRepository.java
  be/src/main/java/com/example/be/comment/mapper/CommentEntityRowMapper.java
  be/src/main/java/com/example/be/issue/IssueController.java
  be/src/main/java/com/example/be/issue/IssueRepository.java
  be/src/main/java/com/example/be/issue/IssueService.java
  be/src/main/java/com/example/be/issue/dto/IssueDetailedDTO.java
  be/src/main/java/com/example/be/issue/mapper/IssueEntityRowMapper.java
Labels: ☀️ feature, 💻 BE
